* {
  margin: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: "popins";
  src: url(./poppins/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "popins1";
  src: url(./poppins/Poppins-SemiBold.ttf);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
  font-family: "popins";
}
.heading {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 64px;
  margin-top: 84px;
}
.h1 {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.firstH1 {
  text-align: center;
  color: #4d4f62;
  font-size: 36px;
  font-weight: 275;
  opacity: 0.7;
}
.secondH2 {
  text-align: center;
  color: #4d4f62;
  font-size: 36px;
  font-weight: 600;
  font-family: "popins1";
}

.underHeading {
  text-align: center;
  letter-spacing: 0.1px;
  color: #4d4f62;
  font-size: 15px;
  opacity: 0.5;
}
img {
  width: 64px;
  height: 64px;
}
.bigBox {
  display: flex;
  align-items: center;
  width: 1110px;
  height: 530px;
  gap: 30px;
}
.supervisor {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 6px;
  padding: 32px;
  width: 350px;
  height: 250px;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.supervisor {
  position: relative;
}

.boxHeading::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0;
  width: 350px;
  height: 5px;
  background-color: #44d3d2;
}
.boxHeading {
  font-size: 20px;
  font-weight: 600;
  color: #4d4f62;
  font-family: "popins1";
}
.search {
  position: absolute;
  top: 154px;
  left: 254px;
}
.boxP {
  color: #4d4f62;
  font-weight: 400;
  font-size: 13px;
  opacity: 0.5;
}
.miniBox {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 6px;
  padding: 32px;
  width: 350px;
  height: 250px;
  background-color: #ffffff;
  position: relative;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.miniBoxHeading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ea5454;
}
.icon {
  position: absolute;
  top: 154px;
  left: 254px;
}
.miniBoxHeading {
  font-size: 20px;
  font-weight: 600;
  color: #4d4f62;
  font-family: "popins1";
}
.miniBoxP {
  font-size: 13px;
  font-weight: 400;
  color: #4d4f62;
}
.miniBox3 {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 6px;
  padding: 32px;
  width: 350px;
  height: 250px;
  background-color: #ffffff;
  position: relative;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.miniBoxHeading3 {
  font-size: 20px;
  font-weight: 600;
  color: #4d4f62;
  font-family: "popins1";
}
.miniBoxHeading3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #549ef2;
}
/* .miniBox4 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 6px;
  padding: 32px;
  width: 350px;
  height: 250px;
  background-color: #ffffff;
  position: relative;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.miniBoxHeading4 {
  font-size: 20px;
  font-weight: 600;
  color: #4d4f62;
}
.miniBoxHeading4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #549ef2;
} */
